name: Create release assets

on: 
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          lfs: 'true'
      - name: upload assets
        uses: AButler/upload-release-assets@v2.0
        with:
          files: 'FINISHED/geopackages/*;FINISHED/*.csv'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
